.responsiveContainer {
    @media (min-width: em(300px)) {
        max-width: rem(250px);
      }
  
    @media (min-width: em(400px)) {
      max-width: rem(380px);
    }
  
    @media (min-width: em(600px)) {
      max-width: 90%;
    }

    @media (min-width: em(720px)) {
        max-width: 90%;
      }
    margin-top: 1%;
  }
