/.vscode/launch.json
/.vscode/tasks.json
/apiDomino/.vs/apiDomino/config/applicationhost.config
/apiDomino/.vs/apiDomino/DesignTimeBuild/.dtbcache.v2
/apiDomino/.vs/apiDomino/FileContentIndex/08ed2b4a-8d8e-4ee7-820a-88684b46f40e.vsidx
/apiDomino/.vs/apiDomino/FileContentIndex/5cf113e5-d5af-405a-8aa9-77c1930bdd43.vsidx
/apiDomino/.vs/apiDomino/FileContentIndex/7d5bb66d-3fec-4778-a39c-c2cb707d995f.vsidx
/apiDomino/.vs/apiDomino/FileContentIndex/dce6a9ca-1a83-4ae8-a8cd-7ee17f694b6c.vsidx
/apiDomino/.vs/apiDomino/FileContentIndex/read.lock
/apiDomino/.vs/apiDomino/v17/.futdcache.v2
/apiDomino/.vs/apiDomino/v17/.suo
/apiDomino/.vs/ProjectEvaluation/apidomino.metadata.v7.bin
/apiDomino/.vs/ProjectEvaluation/apidomino.projects.v7.bin
