.highlighted-name {
    font-size: 48px; /* Tamanho da fonte maior */
    animation: blink 1s infinite; /* Animação de piscar */
    color: red; /* Cor do texto destacado */
    margin-top: 50vh; /* Ajusta a posição verticalmente para o centro */
    transform: translateY(-50%); /* Ajusta a posição verticalmente para o centro */
    text-align: center; /* Centraliza o texto horizontalmente */
  }

  .highlighted-player {
    font-size: 48px; /* Tamanho da fonte maior */
    animation: blink 1s infinite; /* Animação de piscar */
    color: blue; /* Cor do texto destacado */
    margin-top: 50vh; /* Ajusta a posição verticalmente para o centro */
    transform: translateY(-50%); /* Ajusta a posição verticalmente para o centro */
    text-align: center; /* Centraliza o texto horizontalmente */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .flame-container {
    position: relative;
    overflow: hidden;
  }
  
  .flame-container::before,
  .flame-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: flame 2s linear infinite;
  }
  
  .flame-container::before {
    left: 0;
    transform: skewX(-20deg) rotate(-20deg);
    transform-origin: right;
  }
  
  .flame-container::after {
    right: 0;
    transform: skewX(20deg) rotate(20deg);
    transform-origin: left;
  }
  
  @keyframes flame {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animated-card {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  